#home_image{
    
    background-image: url("https://static.pexels.com/photos/2324/skyline-buildings-new-york-skyscrapers.jpg");
    background-position: center;
    background-attachment: fixed;
    
}

#title{
    color: white;
    font-size: 150px; 
    
}